In [1]:
import tushare as ts
import pandas as pd

In [3]:
report_data_2016_2 = ts.get_report_data(2016,2)

[Getting data:]##################################################

In [16]:
print report_data_2016_2.head()
codelist = ["600029","601111","600115","601318","603888"]
nowdata = report_data_2016_2.set_index("code")
    
nowdata.ix[codelist,["name","eps","bvps","roe","net_profits"]]

     code  name   eps  eps_yoy  bvps    roe  epcf  net_profits  profits_yoy  \
0  603888   新华网  0.66      NaN  7.33   9.27  0.22     10219.22          NaN
1  603258  电魂网络  0.79      NaN  3.10  29.13  0.77     14196.80          NaN
2  300553  集智股份  0.43      NaN  4.59   9.58  0.26      1541.17          NaN
3  002817  黄山胶囊  0.50      NaN  5.31   9.78  0.24      3254.83          NaN
4  300550  和仁科技  0.30    76.47  3.87   8.00 -0.55      1784.67        76.32

  distrib report_date
0     NaN       10-10
1     NaN       09-30
2     NaN       09-29
3     NaN       09-28
4     NaN       09-28

        name   eps   bvps    roe  net_profits
code
600029  南方航空  0.32    NaN   7.71    311100.00
600029  南方航空  0.32    NaN   7.71    311100.00
601111  中国国航  0.28    NaN   5.58    345762.10
600115  东方航空  0.25    NaN   8.81    323300.00
601318  中国平安  2.28  19.91  11.60   4077600.00
601318  中国平安  2.28  19.91  11.60   4077600.00
603888   新华网  0.66   7.33   9.27     10219.22

In [17]:
len(report_data_2016_2)

2954