In [1]:
import tushare as ts
import pandas as pd

import sys
default_encoding = 'utf-8'
if sys.getdefaultencoding() != default_encoding:
    reload(sys)
    sys.setdefaultencoding(default_encoding)

#按季度获取基本业绩数据，参数为（年份，季度）
newFinanceDataAll=ts.get_report_data(2015,3)

In [15]:
stocklist=['601818','601398','601939','601009','601166','601328','600036','601998','601288','600000','601169','600015','601988','002142','000001','600016']
newFd=newFinanceDataAll.set_index("code")
newFd.columns=['name','EPS','eps_yoy','bvps','roe','epcf','net_profits','profits_yoy','distrib','report_date']
newFd["net_profits"]=newFd["net_profits"]/10000 #将净利润按亿为单位
newFd=newFd.ix[stocklist,['name','bvps','roe','EPS','net_profits']]
stockprice=ts.get_realtime_quotes(stocklist)
stockpriceonly=stockprice.ix[:,["name","price"]]
pd.concat([newFd,stockpriceonly])

         EPS   bvps  name  net_profits   price    roe
601818   NaN    NaN   NaN          NaN     NaN    NaN
601398  0.62   4.62  工商银行   2217.61000     NaN  13.95
601939  0.77   5.50  建设银行   1915.57000     NaN  14.59
601009  1.67  13.16  南京银行     51.78191     NaN  14.77
601166  2.16  15.87  兴业银行    412.21000     NaN  15.75
601328  0.70   6.79  交通银行    520.40000     NaN  10.61
600036   NaN    NaN   NaN          NaN     NaN    NaN
601998  0.70   6.29  中信银行    329.26000     NaN  11.92
601288  0.47   3.37  农业银行   1532.10000     NaN  14.56
600000  1.99  14.49  浦发银行    371.62000     NaN  14.37
601169   NaN    NaN   NaN          NaN     NaN    NaN
600015  1.30  10.50  华夏银行    139.12000     NaN  12.90
601988   NaN    NaN   NaN          NaN     NaN    NaN
002142   NaN    NaN   NaN          NaN     NaN    NaN
000001  1.27  10.98  平安银行    177.40000     NaN  12.39
600016  1.10   8.02  民生银行    383.77000     NaN  14.47
0        NaN    NaN  光大银行          NaN   3.670    NaN
1        NaN    NaN  工商银行          NaN   4.190    NaN
2        NaN    NaN  建设银行          NaN   5.040    NaN
3        NaN    NaN  南京银行          NaN  15.770    NaN
4        NaN    NaN  兴业银行          NaN  15.300    NaN
5        NaN    NaN  交通银行          NaN   5.520    NaN
6        NaN    NaN  招商银行          NaN  15.420    NaN
7        NaN    NaN  中信银行          NaN   6.030    NaN
8        NaN    NaN  农业银行          NaN   3.070    NaN
9        NaN    NaN  浦发银行          NaN  17.680    NaN
10       NaN    NaN  北京银行          NaN   9.920    NaN
11       NaN    NaN  华夏银行          NaN   9.950    NaN
12       NaN    NaN  中国银行          NaN   3.460    NaN
13       NaN    NaN  宁波银行          NaN   13.14    NaN
14       NaN    NaN  平安银行          NaN   10.41    NaN
15       NaN    NaN  民生银行          NaN   8.490    NaN